<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Login</title>
</head>
<body>
    <div class="login-page">
        {{msg}}
        <form class="login" action="{% url 'login' %}" method="post">
            {% csrf_token %}
           <input type="email" name="email"  placeholder="Email">
           <input type="password" name="pass"  placeholder="Password">
           <button class="reg-btn">Login</button>

        </form>
    </div>
</body>
</html>

    {% comment %} <form action="{% url 'userlogin' %}" method="post">  {% endcomment %}
    {% comment %} {% csrf_token %} {% endcomment %}
